html {
    background-color: #222222;
    color: white;
}

canvas {
    border: 1px solid white;
    width: 25vw;
    height: 25vw;
}

main {
    display: flex;
}

main div h6 {
    font-size: 30px;
    margin: 0;
}

#game_container {
    display: flex;
    flex: 1;
    text-align: center;
}

#tabs_container {
    display: flex;
    flex-direction: column;
    flex: 2;
    border: 1px white solid;
}

#game_display {
    overflow: hidden;
    width: 100%;
}

#shop_display {
    overflow: auto;
    width: 100%;
}

#settings_display {
    text-align: left;
}

#help_section {
    text-align: left;
}

.tab {
    overflow: hidden;
    height: 60px;
    width: 100%;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    border: 1px solid white;
    color: white;
    font-size: 40px;
    width: 25%;
}

.tab button:hover {
    background-color: #333333;
}

.tab button.active {
    background-color: white;
    color:#222222;
}

.tabcontent {
    display: none;
    position: relative;
    top: 50px;
    text-align: center;
}

#purchase_buttons {
    width: 580px;
    margin: auto;
}

#purchase_buttons button {
    width: 180px;
    height: 120px;
    background-color: #002200;
    color: white;
    border-style: solid;
    border-color: #00ff00;
    border-width: 3px;
    border-radius: 10%;
}

#purchase_buttons button:disabled {
    border-color: #FF0000;
    background-color: #220000;
}

#start_game_button {
    width: 60px;
    height: 34px;
}